<header>
  <h1>Shortened URLs</h1>
  <p>Signed in as <%= username %></p>
  </form>
</header>

<body>
  <form action="/login" method="POST" style="margin:150px;">
    <input id="username" type="text" name="username" placeholder="Username" style="width: 200px">
    <input type="submit" value="Sign In">
</body>


