<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <h1>Shortened URLs</h1>
  </header>
  <a href="/urls/register">Register</a>
  <a href="/urls/login">Login</a>
</body>
</html>