<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <header>
    <h1>
      Short URL: <%= shortURL %>
    </h1>
      <p>Signed in as <%= username %></p>
  </header>
    <form method="POST" action="/urls/<%= shortURL %>/update">
      New URL:
      <input type="text" name="longURL" value=<%= longURL %>>
      <input type="submit" value="Update">
    </form>
</body>
</html>