<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>
    <ul>
      <% for(url in urls) { %>
        <li><%= url %> : <%= urls[url].longURL %>
          <a href="/urls/<%= url %>">Edit</a>
          <form method="POST" action="/urls/<%= url %>/delete">
            <input type="submit" value="Delete">
          </form>
        </li>
      <% }; %>
        <li><a href="/urls/new">Shorten New Link</a></li>
    </ul>
</body>
</html>