<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
    <% if (!user) { %>
      <a href="/login">Login</a>
    <% } else { %>
      <h1>
        Short URL: <%= shortURL %>
      </h1>
      <form method="POST" action="/urls/<%= shortURL %>/update">
        New URL:
        <input type="text" name="longURL" value=<%= longURL.longURL %>>
        <input type="submit" value="Update">
      </form>
    <% } %>
</body>
</html>
